.landing-page {
  font-family: Arial, sans-serif;
  background-image: url("../assets/dining-hall.jpg"); /* Replace 'path/to/your/image.jpg' with the actual path to your background image */
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.header {
  text-align: center;
  padding: 20px;
  background: #f0f0f0;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.announcements {
  margin-top: 20px;
}

.announcement {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.announcement h3 {
  margin-top: 0;
}

.announcement p {
  margin-bottom: 0;
}
